@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  [data-theme='dark'] {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-text-primary font-sans antialiased;
  }
}


